.grid-parent{
    display: grid;
    /* grid-template-columns: 6fr 4fr; */
    grid-template-rows: 35px auto 330px auto;
    gap: 3px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    /* padding: 1px; */
    background-color: rgb(228, 225, 226);
    /* background: rgb(199, 198, 198); */
}

.top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
}
.bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3px;
}

.title{
    text-align: center;
    display: grid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    background-color:linen;
    padding: 5px;
    gap: 5px;
}


.title_note{
    background-color: white;

}
.t_note{
    margin-left: 10%;
    margin-right: 10%;
}

.box-var {
    background-color: white;
    color: black;
    text-align: center;
    display: grid;
    grid-template-rows: 30px 30px auto;
    gap: 5px;
}

.content{
    display: grid;
    grid-template-columns: 3fr 7fr;
    gap: 5px;
}

.vbar{
    background-color: rgba(202, 202, 202, 0.253);
    display: grid;
    gap: 5px;
}

.trybutton{
    height: 20px;
    width: 90px;
    border-radius: 5px;
    margin: auto;
}


.box-AI {
    background-color: white;
    text-align: center;
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 8.5fr 1.5fr ; */
    grid-template-rows: 30px auto 30px auto auto ;
    gap: 5px;
}

.title-two{
    
    color: tomato;
    padding: 5px;
    background-color: linen;
    
}

.v {
    width: 300px;
    height:12px;
    margin: 5px auto;
    background-color:#fcf2d9;
    padding: 10px;
    text-align: center;
    color: black;
    position: relative;
  }
  
  .vv:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #fcf2d9;
    border-top: 10px solid #fcf2d9;
    border-bottom: 10px solid transparent;
    left: -19px;
    top: 6px;
  }
  


.buttonnext{
    border: 1px solid black;
    border-radius: 5px;
}

.box-tutorial {
    background-color: white;
    color: black;
    text-align: center;
    display: grid;
    grid-template-rows: 30px 30px auto;
    gap: 5px;
}

.content-three{
    display: grid;
    grid-template-columns: 2fr 2fr 6fr;
    gap: 5px;
}


.box-model {
    background-color: white;
    color: black;
    text-align: center;
    display: grid;
    grid-template-rows: 30px auto auto auto;
    gap: 10px;
}

.subtitle{
    text-align: center;
    padding: 5px;
    background-color: linen;
}


SELECT, INPUT[type="text"] {
    width: 100px;
    height: 150px;
    box-sizing: border-box;
}
/* It controls every selection box. */

SECTION {
    padding: 8px;
    background-color: #f0f0f0;
    overflow: auto;
}
SECTION > DIV {
    float: left;
    padding: 4px;
}
SECTION > DIV + DIV {
    width: 40px;
    text-align: center;
}

.submitbutton{
    background-color: tomato;
    width: 100px;

}

.chart-c{
    width: 400px;
    margin: auto;
}


#chart-container-AI{
    width: 330px;
}


.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: auto;
    margin-bottom: auto;
    /* background-color: rgba(202, 202, 202, 0.253); */
    background-color: #fcf2d9;
}

.model_left{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 50%;
}
.model_right{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 50%;
}
.arrow{
    display: grid;
    grid-template-rows: 1fr;
    margin:auto;
}

.note{
    color: gray;
    font-size: 14px;
}

.selectbox{
    margin:auto
}

.vi{
    margin:auto
}
